* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navbar styles */
.navbar {
    width: 85%;
    max-width: 1360px;
display: flex;
justify-content: space-around;
padding-top: 16px;
padding-bottom: 32px;
align-items: center;
}

.div-list{
    display: flex;
    gap: 32px;
}
.div-list li{
    list-style: none;
}
.div-list li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
}
.btn:hover{
    background-color: lightgreen;
    color: rgb(41, 40, 40);
    transition: all 0.3s ease;
}

/* hero section style */
#hero{
    padding: 143px 120px 152px;
    background-image: url(./assets/hero-bg.png);
    text-align: center;
}
.hero-div-p1{
    color: #469165;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 8px 12px 8px 34px;
    border-radius: 1000px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
}
.hero-h1{
    color: #FFFFFF;
}
.hero-h2{
    color: #30B868;
    margin-bottom: 16px;
}
.hero-div-p2{
    line-height: 24px;
    color: #FFFFFF;
    font-size: 18px;
    
}
.hero-div-2{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.hero-btn1{
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px 46px 16px 16px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.hero-btn1:hover{
    background-color: lightgreen;
    color: rgb(41, 40, 40);
    transition: all 0.3s ease;
}
.hero-btn2{
    color: #FFFFFF;
    background-color: transparent;
    padding: 16px 16px 16px 46px;
    border-radius: 4px;
   border: #FFFFFF 1px solid;
   font-size:16px;
    font-weight:600;

}
.hero-btn-div1{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.hero-btn2:hover{
    background-color: rgba(1, 3, 1, 0.758);
    color: rgba(219, 213, 213, 0.781);
    transition: all 0.3s ease;
}

/* card styles */
#card-section{
   width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
#card-section h1{
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
}
.section-p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card img{
    width: 32px;
    height: 32px;
    background-color: #F95555;
    border-radius: 50%;
}
.card h3{
    color: #001931;
    font-weight: 600;
    font-size: 24px;
}
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
}
.card{
    text-align: center;
    gap: 24px;
    padding: 24px;
    border-radius: 10px;
background-color: #ffffff;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
margin-top: 44px;

}

/* solution section styles */
#solution-section{
    padding: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
    
}
#solution .img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.solution-div{
    margin: 102px 0;
}
.solution{
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-top: 102px;
    margin-bottom: 16px;
}
.solution-div h2{
    font-size:48px;
    font-weight: 700;
    color: #001931;
}
.solution-div span{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.spl-p{
    line-height: 20px;
    font-size: 16px;
    color: #627382;

}
.capture{
    display:flex;
    text-align: center;
}
.capture img{
    width: 20px;
    height: 20px;
}
/* challange style */

#challenge{
    padding: 2px 120px 120px 120px;
    
}
.ready{
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ready h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.ready-p1{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
}
.btn-5{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    margin: 24px 0px 16px;
}
.btn-5:hover{
    background-color: lightgreen;
    color: rgb(41, 40, 40);
    transition: all 0.3s ease;
}
.ready-p2{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
/* footer design */

#footer{
    background-color: #001931;
}

.footer-div1{
    display: flex;
    padding: 120px 120px 80px;
    justify-content: space-between;
}

.footer-p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-div2 a{
    color: #ffffff;
    border-radius: 50%;
    margin-right: 16px;
}

.hr{
    color: #FAFAFA;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.footer-caption{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
    padding: 30px 0;
}