* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar {
    width: 85%;
    max-width: 1360px;
display: flex;
justify-content: space-around;
padding-top: 16px;
padding-bottom: 32px;
align-items: center;
}

.div-list{
    display: flex;
    gap: 32px;
}
.div-list li{
    list-style: none;
    mar
}
.div-list li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.btn{
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
}
.btn:hover{
    background-color: lightgreen;
    color: rgb(41, 40, 40);
    transition: all 0.3s ease;
}

/* hero section style */
#hero{
    padding: 143px 120px 152px;
    background-image: url(./assets/hero-bg.png);
    text-align: center;
}
.hero-div-p1{
    color: #469165;
    background-color: #FFFFFF;
    background-color:;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 8px 12px 8px 34px;
    border-radius: 1000px;
    margin-bottom: 16px;
}
.hero-h1{
    color: #FFFFFF;
}
.hero-h2{
    color: #30B868;
    margin-bottom: 16px;
}
.hero-div-p2{
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.hero-div-2{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.hero-btn1{
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px 46px 16px 16px;
    gap: 10px;
    border-radius: 4px;
    border: none;
}
.hero-btn1:hover{
    background-color: lightgreen;
    color: rgb(41, 40, 40);
    transition: all 0.3s ease;
}
.hero-btn2{
    color: #FFFFFF;
    background-color: transparent;
    padding: 16px 16px 16px 46px;
}